<ion-header>
  <ion-toolbar>
    <ion-title>Buy Order Manager - {{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="buyOrderForm">
    <ion-list inset>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input
          type="text"
          placeholder="Enter a name"
          formControlName="name">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Max Bid Price</ion-label>
        <ion-input
          type="number"
          placeholder="Enter a max bid price"
          formControlName="maxBidPrice">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Data Package Type</ion-label>
        <ion-select formControlName="dataPackageType" placeholder="Select One">
          <ion-select-option *ngFor="let dataPackageTypeOption of dataPackageTypeOptions">{{ dataPackageTypeOption }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  <ion-button (click)='cancel()'>
    CANCEL
  </ion-button>
  <ion-button (click)="save()" [disabled]="!buyOrderForm.valid">
    SAVE
  </ion-button>
  <ion-button (click)="remove()" *ngIf="oldBuyOrder">
    DELETE
  </ion-button>
</ion-content>
