<ion-header>
  <ion-toolbar>
    <ion-title>
      Buy Order Manager - Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="userForm">
    <ion-list inset>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Email"
          formControlName="email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password">
        </ion-input>
      </ion-item>
    </ion-list>
    <div padding class="login-buttons">
      <ion-button
      fill="outline"
      [disabled]="!userForm.valid"
      (click)="logIn()">
      login
      <ion-spinner *ngIf="loginLoading"></ion-spinner>
    </ion-button>
    or
    <ion-button
      fill="outline"
      [disabled]="!userForm.valid"
      (click)="signUp">
      sign up
      <ion-spinner *ngIf="signUpLoading"></ion-spinner>
    </ion-button>
    </div>
  </form>
</ion-content>
