<ion-header>
  <ion-toolbar>
    <ion-title>Buy Order Manager - List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let buyOrder of buyOrders" (click)="editOrder(buyOrder)">
      <ion-card-header>
        <ion-card-title>{{ buyOrder.name }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div>Max Bid Price: {{ buyOrder.maxBidPrice }}</div>
        <div>Data Package Type: {{ buyOrder.dataPackageType }}</div>
      </ion-card-content>
    </ion-card>

    <ion-card class="new-order-card" (click)="newOrder()">
        <ion-card-header>
          <ion-card-title>
              New Buy Order
            </ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>
