<ion-header>
  <ion-toolbar>
    <ion-title>Buy Order Manager - List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="list-content">
    <ion-card *ngFor="let buyOrder of buyOrders" [routerLink]="'/add-edit-buy-order/' + buyOrder.name" routerDirection="forward">
      <ion-card-header>
        <ion-card-title>{{ buyOrder.name }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div>Max Bid Price: {{ buyOrder.maxBidPrice | currency }}</div>
        <div>Data Package Type: {{ buyOrder.dataPackageType }}</div>
      </ion-card-content>
    </ion-card>

    <ion-card class="new-order-card" [routerLink]="'/add-edit-buy-order'" routerDirection="forward">
        <ion-card-header>
          <ion-card-title>
            New Buy Order
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Click a buy order to edit, or here to get started!
        </ion-card-content>
    </ion-card>
</ion-content>
